.dashboardParent {
    .title {
        color: #2b416c;
        font-size: 46px;
        margin: 33px auto;

    }

    .greyBg {
        background: rgba(0, 0, 0, 0.8);
    }

    .toggle {
        ul {
            display: flex;
            list-style-type: none;
            color: #556789;
            padding: 0;
            margin: 0;

            li {
                width: fit-content;
                margin-right: 15px;
                padding: 15px;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                padding-left: 0;
            }
        }

        .selected {
            color: #83a515;
            border-bottom: 4px solid #83a515;
            font-weight: 500;
            padding-left: 15px;
        }
    }

    hr {
        margin: 0;
        margin-top: -1px;
        border: 1px solid #f1f1f4;
    }

    margin: auto 10%;
}

@media screen and (max-width: 600px) {
    .popupDiv {
        width: 70% !important;
    }

    .dashboardParent {
        .DayPicker-Day {
            padding: 0;
        }

        .DayPicker-wrapper {
            font-size: 12px;
        }

        .title {
            font-size: 25px;
        }

        margin: auto 4px;

        .toggle {
            ul li {
                font-size: 12px;
                margin-right: 0;
                padding-right: 5px;
            }

            .selected {
                padding-left: 0;
            }
        }

        .whiteRow {
            font-size: 8px;
        }

        .campaign .campaignDiv img {
            width: 25px;
        }

        thead th {
            padding-left: 0;
            font-size: 10px;
        }

        .pricingDiv img {
            height: 12px;
            width: 14px;
        }

        .actions {
            img {
                height: 12px;
                width: 12px;
            }

            a {
                display: none;
            }
        }

    }



}